@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #027b5b;
    border-radius: 30px;
    border: 1px solid #292b2f;
  }

body {
    background-color: #292b2f;
    margin: 0%;
}

h1, h3, a{
    font-family: "Anton", sans-serif;
    color:#ecedee;
}

h2, h4{
    font-family: "Arvo", serif;
    color:#ecedee;
}

a {
    text-decoration: none;
}

button {
    font-style: italic;
    font-weight: bold;
    color: white;
    background-color:#027b5b;
    border: 2px solid #292b2f;
    border-radius: 40% 0% 40%;
}

span {
    font-family: "Arvo", serif;
    color:#027b5b;
    cursor: pointer;
}

header {
    width: 100%;
    height: 9vh;
    background: #027b5b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    font-size: larger;
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,239,0,1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: transparent;
    padding: 5px;
}

.discord {
    padding: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 6px;
    gap: 10px
}

.UmQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Partidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.Jogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 80vh;
    height: 15vh;
    border: 2px solid #027b5b;
    border-radius: 12px;
    margin-bottom: 2%;
    cursor: pointer;
}

.Partidas :hover {
    background-color:#027b5b;
}

.time1, .time2, .versus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

footer {
    width: 100%;
    height: 7vh;
    background: #027b5b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Partidas */

.Game {
    width: 15%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:transparent;
}

.imgGame {
    width: 60%;
    height: auto;
}

.imgGame1 {
    width: 80%;
    height: auto;
}

.aGame {
    font-size: 2.4vh;
}

.equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mainPartidas {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    gap: 20px;
}

.odd {
    width: 70%;
    gap: 10px;
    box-sizing: border-box;
}

.Principais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Apostas, .ApostasTotalGols, .ApostasMVP {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: #33353a;
    border: 2px solid #027b5b;
    border-radius: 12px;
    box-sizing: border-box;
}

.ApostasTotalGols {
    height: 30vh;
}

.ApostasMVP{
    height: 35vh;
}

.aposta {
    width: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-bottom: 10px;
}

.opção {
    width: 25%;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #ecedee;
    border: 2px solid #027b5b;
    border-radius: 12px;
    padding: 5px;
}

.opção:active {
    box-shadow: 2px 2px 5px #027b5b;
}

.opção2 {
    width: 40%;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #ecedee;
    border: 2px solid #027b5b;
    border-radius: 12px;
    padding: 5px;
}

.opção2:active {
    box-shadow: 2px 2px 5px #027b5b;
}

.color-change {
    background-color: yellow;
}

.SuasApostas {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33353a;
    border: 2px solid #027b5b;
    border-radius: 12px;
    box-sizing: border-box;
}

#suasApostasContainer {
    width: 100%;
    font-family: "Arvo", serif;
    color:#ecedee;
}

.total-bet {
    width: 100%;
    font-family: "Arvo", serif;
    color:#ecedee;
}